@font-face {
    font-family: "MemphisRiver";
    src: url(fonts/MemphisRiver.ttf) format('truetype');
    src: url(fonts/MemphisRiver.woff) format('woff');
}

* {
    background-color: gray;
    color: rgb(0, 0, 0);
    margin: auto;
    text-align: center;
    margin-top: 20px;
}

h5 {
    margin-top: auto;
    font-size: 3em;
    margin-bottom: 2em;
}


.body {
    color: gray
}

/* h5 {

} */



table {
    margin-top: auto;
    border: 10px solid darkgray;
    width: auto;
    height: auto;
    background-color: grey;
    text-align: center;
    align-items: center;
}

.cell {
    background-color: lightgray;
    width: 50px;
    height: 50px;
    border: 2px solid whitesmoke
}



footer {
    margin-top: 270px ;
    font-weight: bold;
    font-size: 25px;
    font-family: "MemphisRiver", helvetica; 
    color: rgba(0, 0, 0, 0.596);
}