* {
    color: rgb(93, 9, 227);
    margin: auto;
    text-align: center;
    margin-top: 20px;
}

.body {
    color: rgb(95, 3, 157);
}

/* h5 {

} */



table {
    margin-top: auto;
    top: 10px;
    width: auto;
    height: auto;
    background-color: grey;
    /* text-align: center; */
}

#cell {
    display:none
    
}

.⬛ {
    cursor:pointer;
    
}



