* {
    color: rgb(176, 127, 255);
}

.body {
    color: rgb(95, 3, 157);
}

h5 {
    margin-left: 50px;
    color: rgb(103, 8, 236);
    text-align: center;
    background-color: brown;

}

.board-container {
    border: solid 5px coral
}

.cell {
    border: 5px black;
    width: 20px;
    height: 20px;
    background-color: rgb(132, 80, 12);
    /* text-align: center; */
}

.table-tr {
    text-align: center;
}